sudo: false
language: crystal
services:
  - docker
crystal:
  - latest
env:
  - BRANCH=development
  - BRANCH=master
  - BRANCH=unified
notifications:
  email: false
install:
  - apt-get update
  - apt-get install html2text
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - git clone -b $BRANCH https://github.com/goodmind/cycle-telegram
before_script:
  - cd $PWD/check-types
  - crystal deps
  - mkdir bin
  - crystal build ./src/check-types.cr -o ./bin/check-types
  - chmod +x ./bin/check-types
  - cd ..
  - cd $PWD/remote-types; npm prune
  - cd ..
  - npm i -g $PWD/remote-types
  - export PATH=$PWD/check-types/bin:$PATH
script:
  - check-types update $PWD/cycle-telegram/src/runtime-types
  - check-types $PWD/cycle-telegram/src/runtime-types
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
