sudo: false
language: crystal
services:
  - docker
crystal:
  - latest
env:
  - BRANCH=development
  - BRANCH=master
notifications:
  email: false
before_install:
  - git clone -b $BRANCH https://github.com/goodmind/cycle-telegram
  - cd $PWD/check-types
  - crystal deps
  - mkdir bin
  - crystal build ./src/check-types.cr -o ./bin/check-types
  - chmod +x ./bin/check-types
  - cd ..
before_script:
  - docker build -t chrysler .
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
